.env
data/DuoLingoSLAM
data/EFCAMDAT_Database.xml
data/egp_examples.json
data/wow/
data/toc.json
data/egp_gpt35.json
**__pycache__**
**cambridge.smille**
cloud.txt
**/.ipynb_checkpoints
**slurm**
**wandb**
models/partial_sequences/
data/SFT_data*
