.env
data/DuoLingoSLAM
data/EFCAMDAT_Database.xml
data/egp_examples.json
data/dialogs/wow/
data/dialogs/toc.json
data/detection/egp_gpt35.json
data/CEFR**
**__pycache__**
**cambridge.smille**
cloud.txt
**/.ipynb_checkpoints
**slurm**
**wandb**
models
data/task1/SFT_data*
